.page-header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.page-header__section1 {
    display: flex;
    flex-direction: row;
}

.page-header__logo {
    margin-right: 1rem;
}

.page-header__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-header__ul li {
    margin-right: 1rem;
}

.page-header__section2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.big-circle1 {
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    right: 25%;
    z-index: 10;
}

.big-circle2 {
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    right: 25%;
}

.big-circle3 {
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    right: 25%;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.big-circle3:hover {
    scale: 1.05;
    transition: all 1s;
}

.body {
    position: relative;
}

.video {
    max-width: 900px;
    margin: 0 auto;
}